:root{
    --color-p:  #17120b;
    --color-s: #dcdcdc;
    --color-a: #C3E8BD;
    --color-b: #488286;
}

.color-p{
    color: var(--color-p);
}
.color-s{
    color: var(--color-s);
}
.color-a{
    color: var(--color-a);
}


*{
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
  background-color: var(--color-p);
  margin: 0;
  height: 3000px;
}
