:root{
    --color-p:  #17120b;
    --color-p2:  #221a10;
    --color-s: #dcdcdc;
    --color-b: #C73E1D;
}

.color-p{
    color: var(--color-p);
}
.color-s{
    color: var(--color-s);
}

.color-b{
    color: var(--color-b);
}

.font-s{
    font-family: "League Script", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}



.cust-shadow{
    text-shadow: 4px 4px 8px var(--color-b);
}

*{
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-s);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: var(--color-p);
  margin: 0;
  /* height: 3000px; */
}


/* NAVBAR 2 */
.custom-navbar{
    position: fixed;
    top: 50%;
    left: -0.5%;
    transform: translate(50%, -50%);
    border: solid 2px var(--color-s);
    border-radius: 50px;
    box-shadow: 2px 2px 10px var(--color-s);
    backdrop-filter: blur(7px);
    z-index: 10;

}

.custom-navbar a{
    font-size: 24px;
    margin: 10px 5px;
    padding: 5px 10px;
    display: block;
    transition: all 0.3s ease;
    
}


.cust-link{
    background-color: var(--color-b);
    color: var(--color-s);
    border-radius: 50%;
    transition: 0.3s ease;  
}

/* MEDIAQUERY */

@media screen and (max-width: 767px) {
    .custom-navbar{
        top: 0%;
        left: 50%;
        transform: translate(-50%, 50%);
        
    }
  
}

/* HEADER */

.cust-header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-profilo {
  width: 30%;
  height: auto;
  object-fit: cover;

}

@media (max-width: 767px) {
  .img-profilo {
    width: 50%;
    height: auto;
  }

}

.cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

/* FINE HEADER */

/* CONTACTS */
.cust-contacts {
  position: fixed;
  bottom: 0px;
  right: 10px;
  display: flex;
  justify-content: center;
  z-index: 10;
  writing-mode: vertical-rl;
  height: 100%;

}
.social-link {
    text-align: center;
    margin: 10px 0px;
    display: block;
    transition: all 0.3s ease;

}
.social-link i:hover{
    color: var(--color-b);
    transition: 0.3s ease;    

}

.firma{
    /* letter-spacing: 10px; */
    line-height: 0.8;
    font-size: 30px;
    font-family: "League Script", sans-serif;
    text-align: center;
    margin: 0px 0px; 
}

/* FINE CONTACTS */

/* MY SKILLS SECTION */
.cust-border{
    border-bottom: 2px solid var(--color-b);
    width: 100%;
    margin: 10px auto;
}

.circular-bar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: conic-gradient(var(--color-b) 1.5deg, var(--color-p2) 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: -22px -21px 83px 7px rgba(199,62,29,0.7) inset;
}
.circular-bar::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: var(--color-p);
    
    
}

.circular-bar img{
    z-index: 100;
    width: 50px;
    height: 50px;
    text-align: center;
}

/* PROJECTS SECTION  */
.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.container {
    height: 400px;
    display: flex;
    justify-content: center;
 
}

.card {
    width: 80px;
    border-radius: 2rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    margin: 0 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
    box-shadow: 0 10px 30px -5px var(--color-b);
}

.row {
    color: var(--color-s);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    
}

.icon {
    background-color: var(--color-b);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    height: 150px;
    width: 520px;
    opacity: 0;
    transition: translateY(30px);
    transition-delay:  .3s;
    transition: all .3s ease;
}



.description p {
    color: var(--color-s);
    padding-top: 5px;
    font-size: small;
}
.description h2 {
    text-transform: uppercase;
    color: var(--color-b);
    
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}
input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0);
}

.card[for="c1"] {
    background-image: linear-gradient(rgba(23, 18, 11, 0.69), rgba(255, 255, 255, 0.482), rgba(23, 18, 11, 0.69)), url(./img/projects/homepage1.png);
    background-size: cover;
    background-position: bottom; 
}
.card[for="c2"] {
    background-image: linear-gradient(rgba(23, 18, 11, 0.69), rgba(255, 255, 255, 0.482), rgba(23, 18, 11, 0.69)), url(./img/projects/homepage-auth.png);
    background-size: cover;
    background-position: bottom; 
}
.card[for="c3"] {
    background-image: linear-gradient(rgba(23, 18, 11, 0.69), rgba(255, 255, 255, 0.482), rgba(23, 18, 11, 0.69)), url(./img/projects/Annunci.png);
    background-size: cover;
    background-position: bottom; 
}
.card[for="c4"] {
    background-image: linear-gradient(rgba(23, 18, 11, 0.69), rgba(255, 255, 255, 0.482), rgba(23, 18, 11, 0.69)), url(./img/projects/start.png);
    background-size: cover;
    background-position: bottom; 
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    height: auto;
  }
  
  .container {
    height: auto;
    flex-direction: column;
    width: 100%;
  }

  .row {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: 90%;
    max-width: 300px;
    height: 200px;
    margin: 10px auto;
    transition: all 0.4s ease;
    
  }
  
  input:checked + label .card {
    width: 95%;
    height: 250px;
    
  }
  
  .description {
    width: 100%;
    height: auto;
    min-height: 100px;
    margin-top: 10px;
  }

  .icon {
    display: none;
  }
  .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 1;
    border-radius: inherit;
}

.card:hover::before {
  opacity: 1;
}

.card:hover .description {
  opacity: 1;
  transform: translateY(0);
  z-index: 2;
  position: relative;
}
   
}
/* FINE PROJECTS SECTION  */

/* CONTACTS SECTION */

.border-line{
    border-right: 2px solid var(--color-s);
    padding-right: 10px;
    height: 100px;
    
}

@media (max-width: 426px) {
    .border-line{
        border-right: none;
        
    }
    
}

/* FOOTER */
.cust-footer {
  background-color: var(--color-b);
  color: var(--color-s);
  width: 50%;
  margin: auto;
  border-radius: 20px 20px 0px 0px;
}

@media (max-width: 426px) {
    .cust-footer{
        width: 90%;
    }

    .cust-footer p{
        font-size: small;
        
    }
    
}