:root{
    --color-p:  #17120b;
    --color-s: #dcdcdc;
    --color-b: #C73E1D;
}

.color-p{
    color: var(--color-p);
}
.color-s{
    color: var(--color-s);
}

.color-b{
    color: var(--color-b);
}

.font-s{
    font-family: "League Script", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}



.cust-shadow{
    text-shadow: 4px 4px 8px var(--color-b);
}

*{
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-s);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: var(--color-p);
  margin: 0;
  height: 3000px;
}

/* NAVBAR */
/* .scrolledNav{
    backdrop-filter: blur(7px);
    border: 2px solid var(--color-a);
    border-radius: 10px;
    margin: 30px 30px;
}

.transition{
    transition: 1s;
}

/* NAVBAR 2 */
.custom-navbar{
    position: fixed;
    top: 50%;
    left: -0.5%;
    transform: translate(50%, -50%);
    border: solid 2px var(--color-s);
    border-radius: 50px;
    box-shadow: 2px 2px 10px var(--color-s);
    backdrop-filter: blur(7px);
    z-index: 10;

}

.custom-navbar a{
    font-size: 24px;
    margin: 10px 5px;
    padding: 5px 10px;
    display: block;
    transition: all 0.3s ease;
}

.cust-link{
    background-color: var(--color-b);
    color: var(--color-s);
    border-radius: 50%;
    transition: 0.3s ease;  
}

/* MEDIAQUERY */

@media screen and (max-width: 767px) {
    .custom-navbar{
        top: 0%;
        left: 50%;
        transform: translate(-50%, 50%);
        
    }
    
}

/* HEADER */

.cust-header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-profilo {
  width: 30%;
  height: auto;
  object-fit: cover;

}

@media (max-width: 767px) {
  .img-profilo {
    width: 50%;
    height: auto;
  }

}

/* FINE HEADER */

/* CONTACTS */
.cust-contacts {
  position: fixed;
  bottom: 0px;
  right: 10px;
  display: flex;
  justify-content: center;
  z-index: 10;
  writing-mode: vertical-rl;
  height: 100%;

}
.social-link {
    text-align: center;
    margin: 10px 0px;
    display: block;
    transition: all 0.3s ease;

}
.social-link i:hover{
    color: var(--color-b);
    transition: 0.3s ease;    

}

.firma{
    /* letter-spacing: 10px; */
    line-height: 0.8;
    font-size: 30px;
    font-family: "League Script", sans-serif;
    text-align: center;
    margin: 0px 0px; 
}

/* FINE CONTACTS */

/* MY SKILLS SECTION */
.cust-border{
    border-bottom: 2px solid var(--color-b);
    width: 100%;
    margin: 10px auto;
}

.progress-bar{
    background-color: var(--color-b);
    animation: barra 1s linear forwards;
    
}
@keyframes barra {
    from{
        width: 0%;
    }
    to{
        width: var(--width);
    }
}



