:root{
    --color-p:  #17120b;
    --color-s: #dcdcdc;
    --color-a: #C3E8BD;
    --color-b: #488286;
}

.color-p{
    color: var(--color-p);
}
.color-s{
    color: var(--color-s);
}
.color-a{
    color: var(--color-a);
}

.font-s{
    font-family: "League Script", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}

*{
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
  background-color: var(--color-p);
  margin: 0;
  height: 3000px;
}

/* NAVBAR */
/* .scrolledNav{
    backdrop-filter: blur(7px);
    border: 2px solid var(--color-a);
    border-radius: 10px;
    margin: 30px 30px;
}

.transition{
    transition: 1s;
}

/* NAVBAR 2 */
.custom-navbar{
    position: fixed;
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    border: solid 2px var(--color-a);
    border-radius: 50px;
    box-shadow: 2px 2px 10px var(--color-a);
}
.custom-navbar a{
    color: var(--color-a);
    font-size: 24px;
    margin: 10px;
}

/* MEDIAQUERIES */

@media screen and (max-width: 767px) {
    .custom-navbar{
        top: 0%;
        left: 50%;
        transform: translate(-50%, 50%);
        padding-left: 30px;
        padding-right: 30px;
    }
    
}